#### LOGISTIC REGRESSION EXAMPLE

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv("archive\Heart.csv")
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [17]:
df = df.drop(columns='Unnamed: 0')
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [21]:
df['ChestPain']=df['ChestPain'].astype('category')
df['ChestPain']=df['ChestPain'].cat.codes

df['Thal']=df['Thal'].astype('category')
df['Thal']=df['Thal'].cat.codes

df['AHD']=df['AHD'].astype('category')
df['AHD']=df['AHD'].cat.codes

df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         0
AHD          0
dtype: int64

In [31]:
df=df.dropna()
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [36]:
X=df.drop(columns='AHD')
print(X)
y=df['AHD']
print(y)

     Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
0     63    1          3     145   233    1        2    150      0      2.3
1     67    1          0     160   286    0        2    108      1      1.5
2     67    1          0     120   229    0        2    129      1      2.6
3     37    1          1     130   250    0        0    187      0      3.5
4     41    0          2     130   204    0        2    172      0      1.4
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
297   57    0          0     140   241    0        0    123      1      0.2
298   45    1          3     110   264    0        0    132      0      1.2
299   68    1          0     144   193    1        0    141      0      3.4
300   57    1          0     130   131    0        0    115      1      1.2
301   57    0          2     130   236    0        2    174      0      0.0

     Slope   Ca  Thal
0        3  0.0     0
1        2  3.0     1
2        2  2.0     2
3        3  0.0     1
4        1  0.0     1
..     ...  ...   ...
297      2  0.0     2
298      2  0.0     2
299      2  2.0     2
300      2  1.0     2
301      2  1.0     1

[299 rows x 13 columns]
0      0
1      1
2      1
3      0
4      0
      ..
297    1
298    1
299    1
300    1
301    1
Name: AHD, Length: 299, dtype: int8

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=21)

In [40]:
print(X_train)
print(X_test)

print(y_train)
print(y_test)

     Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
290   67    1          1     152   212    0        2    150      0      0.8
264   61    1          0     138   166    0        2    125      1      3.6
197   45    0          0     138   236    0        2    152      1      0.2
77    51    0          1     140   308    0        2    142      0      1.5
15    57    1          1     150   168    0        0    174      0      1.6
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
189   69    1          1     140   254    0        2    146      0      2.0
120   48    1          0     130   256    1        2    150      1      0.0
48    65    0          1     140   417    1        2    157      0      0.8
262   60    0          3     150   240    0        0    171      0      0.9
209   62    0          0     150   244    0        0    154      1      1.4

     Slope   Ca  Thal
290      2  0.0     2
264      2  1.0     1
197      2  0.0     1
77       1  1.0     1
15       1  0.0     1
..     ...  ...   ...
189      2  3.0     2
120      1  2.0     2
48       1  1.0     1
262      1  0.0     1
209      2  0.0     1

[209 rows x 13 columns]
     Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  \
61    46    0          1     142   177    0        2    160      1      1.4
300   57    1          0     130   131    0        0    115      1      1.2
55    54    1          0     124   266    0        2    109      1      2.2
245   67    1          0     120   237    0        0     71      0      1.0
95    52    1          0     128   255    0        0    161      1      0.0
..   ...  ...        ...     ...   ...  ...      ...    ...    ...      ...
115   41    1          2     135   203    0        0    132      0      0.0
117   35    0          0     138   183    0        0    182      0      1.4
211   38    1          3     120   231    0        0    182      1      3.8
233   74    0          2     120   269    0        2    121      1      0.2
218   64    0          0     130   303    0        0    122      0      2.0

     Slope   Ca  Thal
61       3  0.0     1
300      2  1.0     2
55       2  1.0     2
245      2  0.0     1
95       1  1.0     2
..     ...  ...   ...
115      2  0.0     0
117      1  0.0     1
211      2  0.0     2
233      1  1.0     1
218      2  2.0     1

[90 rows x 13 columns]
290    1
264    1
197    0
77     0
15     0
      ..
189    1
120    1
48     0
262    0
209    1
Name: AHD, Length: 209, dtype: int8
61     0
300    1
55     1
245    1
95     1
      ..
115    0
117    0
211    1
233    0
218    0
Name: AHD, Length: 90, dtype: int8

In [43]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled =scaler.fit_transform(X_train)
X_test_scaled =scaler.fit_transform(X_test)

print(X_train_scaled)
print(X_test_scaled)

[[ 1.38573367  0.67185481  0.21213203 ...  0.70792084 -0.70203785
   1.13274336]
 [ 0.71454401  0.67185481 -0.84347737 ...  0.70792084  0.36119339
  -0.49996949]
 [-1.07529507 -1.48841682 -0.84347737 ...  0.70792084 -0.70203785
  -0.49996949]
 ...
 [ 1.16200378 -1.48841682  0.21213203 ... -1.01249144  0.36119339
  -0.49996949]
 [ 0.60267907 -1.48841682  2.32335085 ... -1.01249144 -0.70203785
  -0.49996949]
 [ 0.82640895 -1.48841682 -0.84347737 ...  0.70792084 -0.70203785
  -0.49996949]]
[[-0.9102049  -1.3462912   0.06757374 ...  1.97949865 -0.75727937
  -0.52692446]
 [ 0.29126557  0.74278135 -0.94603233 ...  0.531085    0.3245483
   1.10835835]
 [-0.0364082   0.74278135 -0.94603233 ...  0.531085    0.3245483
   1.10835835]
 ...
 [-1.7840016   0.74278135  2.09478587 ...  0.531085   -0.75727937
   1.10835835]
 [ 2.14808356 -1.3462912   1.08117981 ... -0.91732864  0.3245483
  -0.52692446]
 [ 1.05583768 -1.3462912  -0.94603233 ...  0.531085    1.40637597
  -0.52692446]]

In [46]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(random_state=0)
log_reg.fit(X_train_scaled,y_train)
log_reg.predict(X_train_scaled)

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0], dtype=int8)

In [53]:
log_reg1 =LogisticRegression(random_state=0, C =1, fit_intercept=True).fit(X_train_scaled,y_train)

In [54]:
log_reg.score(X_train_scaled,y_train)
log_reg.score(X_test_scaled,y_test)

0.8555555555555555